html {
    height: 100%;
}
html {
    background: E4E4E4;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    color: #000;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body {
  margin: 0px auto;
  font-family: 'Martel Sans';
}

a {
    color: #444;
}

#bread {
    margin: 0 auto;
    margin-top: 48px;
    padding:8px;
    height: 380px;
    background: #4000b3;
    color: #DDD;
    width: 100%;
    font-family: Martel, Serif;
    font-size: 1.2rem;
}

#white img {
  border: 2px solid #6900d3;
  border-radius: 6px;
}

#bread h1 {
  color: #FFF;
}

#white {
  width: 90%;
  margin: 0 auto;
}

#bread p {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 16px;
}

#topMenu {
  font-family: Serif;
  background-color: #4c0098;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  list-style: none;
  float: right;
  line-height: 1;
  text-align: right;
  box-sizing: border-box;
  height: 48px;
}

#topMenu li {
  list-style: none;
  float: right;
  display: inline;
  margin-right: 24px;
}


#topMenu li:not(.logo) {
  font-family: Martel, serif;
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 14px;
  height: 100%;
  padding-left: 12px;
  position: relative;
  font-variant: small-caps;
}

#topMenu a {
    color: #EEE;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: -2px;
    margin-bottom: -2px;
    cursor: pointer;
}

.logo {
  position: absolute;
  top: 8px;
  left: 0;
}

#topMenu li:not(.logo) a:hover:before {
  content: " ";
  position: absolute;
  left: calc(50% - 10px);
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  bottom: 0px;
  margin-left: 5px;
  border-bottom: 8px solid #EEE;
}